
  <video id='sxmvideo' width='600' height='300' class="video-js vjs-default-skin" controls>
  <source
     [src]="'https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8'"
     type="application/x-mpegURL">
</video>

<button class="btn btn-primary" (click)="create()">Click here -- New Stream</button> 

<div class="container" style="margin:20px">
  <div class="row">
 <input type="number" [(ngModel)]='seekTime' placeholder="Enter Seek time"> 


<button class="btn btn-danger" (click)="destroy()">destroy</button>

<button class="btn btn-info" (click)="seek()">seek</button>

<button class="btn btn-warning" (click)="play()">play/pause</button>
  </div>

</div>

